.shotlist {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin: 0;
  padding:0;
  list-style: none;
  width: 100%;

}

.shotlist li {
  width: 30%;
  padding: 0 1.5% 3%;
}

.shotlist img {
  display: block;
  width: 800px;
  max-width: 100%;
}

@media(max-width: 1048px) {
  .shotlist li {
    width: 47%;
  }
}

@media(max-width: 768px) {
  .shotlist {
    padding: 24px;
  }

  .shotlist li {
    width: 100%;
    padding: 0px;
    margin-bottom: 24px;
  }
}
